/target/
__pycache__/
*.pyc
.codex
.vscode/settings.json
crates/device-envoy-esp/.vscode/
crates/device-envoy-esp/device-envoy.code-workspace
device-envoy-all.code-workspace
docs/~$vice_envoy_esp_site.docx
docs/device_envoy_esp_site.docx
